<div class="container">
    <div class="row">
        <div class="col col-l">
            <img src="https://cdn.fs.teachablecdn.com/nZZ8g3NlSlCtBal6ZsTz" alt="">
        </div>
        <div class="col col-r">
            <div class="content">
                <h2>Yazılım Geliştirici Yetiştirme Programımıza çok az kaldı.</h2>
            <p>Programdan en büyük verimi almanız için şimdiden önlemler almanızı ve hazırlık yapmanızı önereceğim tüyoları bu sayfada toplamaya karar verdim.</p>
            </div>
            
        </div>
    </div>
</div>