<p style="visibility: hidden;">fsdfsddf</p>

<ng-template [ngIf]="categoryList";  [ngIfElse]="loading">
  <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
      Category
    </button>
    <div class="list-group" *ngFor="let ct of categoryList">
      <button type="button" (click)="getCategoryById(ct)"
        class="list-group-item list-group-item-action">{{ct.name}}</button>
    </div>
  </div>
</ng-template>
<ng-template #loading>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>