<div class="wrapper">
    <h2>Bunu izlemenizi öneririm.</h2>
    <p>Programlama tecrübeniz yok veya çok az ise mutlaka bu 2 saatlik programı izleyiniz.</p>
    <div class="card-wrapper">
        <div class="card">
            <div class="card-img">
                <img src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/BBLmG3XFTtm8XBTrzg4v"
                    alt="">
            </div>
            <div class="card-detail">
                <h3>
                    Programlamaya Giriş için Temel Kurs
                </h3>
                <p>PYTHON, JAVA, C# gibi tüm programlama dilleri için temel programlama mantığını anlaşılır örneklerle öğrenin.</p>
            </div>
            <div class="card-info">
                <div class="info-left">
                    <img src="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:30,height:30/https://www.filepicker.io/api/file/GsqiGFGCRmuBuel0qqF3" alt="">
                    <p>Engin Demirog</p>
                </div>
                <div class="info-right">
                    <p>ÜCRETSİZ</p>
                </div>
            </div>
        </div>
    </div>
</div>