<div class="wrapper">
    <div class="container">
        <div class="filter">
            <div class="category">
                <label>Kategori: </label>
                <select>
                    <option>Tümü</option>
                    <option>Programlama(4)</option>
                </select>
            </div>
            <div class="instructor">
                <label>Eğitmen:</label>
                <select>
                    <option>Tümü</option>
                    <option>Engin Demirog</option>
                </select>
            </div>
        </div>
        <div class="searchBox">
            <input type="text" placeholder="Kurs Bul...">
            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
    </div>
</div>
