<div class="card m-2" style="width: 18rem;height: 33rem;" appClickProducts>
    <img src="./assets/img/food.png">
    <div 
    [ngClass]="{
      'card-body': isCard
    }"
    >

      <h5 class="card-title" >{{product.name | uppercase}}</h5>

      <h6>Quantity Per Unit: {{product.quantityPerUnit}}</h6>   

      <p 
    class="card-text" 
    appOnSale
    [onSaleColor]="onMouseColor"
    [onSaleText]="onSaleText"
    [isOnSale]="product.unitPrice > 30"
    >
      {{ product.unitPrice | kdv: 0.8 | currency: "₺" }}
    </p>
        
        <p>Stock: {{product.unitsInStock}}</p>

         

      <button (click)="addToCardEvent(product)" class="btn btn-dark">Add To Cart</button>
    </div>
  </div>
  
<!-- 
  KULLANILAN PİPE LAR: 
    uppercase,
    lowercase,
    currency  
    currency : 'altgr + t' sonuc tl,
    percent,
    json,
    .
    .
    .
-->
<!-- 
  KULLANILAN DIRECTIVES: 

-->