<div class="card m-2" style="width: 18rem;height: 33rem;">
    <img src="./assets/img/food.png">
    <div 
    [ngClass]="{
      'card-body': isCard
    }"
    >

      <h5 class="card-title" >{{product.name | uppercase}}</h5>

      <p  class="card-text" > <!--appOnSale ile directivesi p classına inputladım. Sonra                onSaleColor ile kullanmış oldum.  --> 
        {{product.unitPrice | kdv:0.18 | currency: '₺'}}
      </p>
        
        <p>Stock: {{product.unitsInStock}}</p>

        <p>Quantity Per Unit: {{product.quantityPerUnit}}</p>    

      <button (click)="addToCartEvent()" class="btn btn-dark">Add To Cart</button>
    </div>
  </div>
  
<!-- 
  KULLANILAN PİPE LAR: 
    uppercase,
    lowercase,
    currency  
    currency : 'altgr + t' sonuc tl,
    percent,
    json,
    .
    .
    .
-->
<!-- 
  KULLANILAN DIRECTIVES: 

-->