
<div class="container">
    <div class="row">
        <ul>
            <li>
                <span>➤Yazılım Geliştirici Yetiştirme Kampı ücretsiz mi olacak?</span>
                Evet, ücretsiz olacak.
            </li>
            <li>
                <span>➤Yazılım Geliştirici Yetiştirme Kampı nerede yayınlanacak?</span>
                Kampımız canlı olarak yayınlanacak. Canlı yayın YouTube kanalımda gerçekleşecek. <span class="text-red">Canlı yayın alanına ulaşmak
                    için tıklayınız.</span>  Yayın saatini kaçırmamak için kanala abone olup hatırlatıcı eklemeyi unutmayınız. Canlı yayın
                sonrası videolar, ödevler ve testler <span class="text-red">kodlama.io</span>  'da yayınlanacak.
            </li>
            <li>
                <span>
                    ➤Yazılım Geliştirici Yetiştirme Kampının canlı yayın tarihi ne zaman ve saat kaçta başlayacak? Bir canlı
                    yayın
                    süresi ne kadar olacak? Canlı yayın hangi günlerde yapılacak?</span> <br>
        
                Canlı yayın balangıç tarihi : 9 Ocak Cumartesi 2021 <br>
        
                Canlı yayın saati : 21.00 <br>
        
                Canlı yayın süresi : 3 ders saati <br>
        
                Canlı yayın günleri : Çarşamba ve Cumartesi (İlk canlı ders tarihini takip eden her haftanın Çarşamba ve
                Cumartesi günlerinde devam edecek)
            </li>
            <li>
                <span> ➤Yazılım Geliştirici Yetiştirme Kamp programı ne kadar sürecek?</span> Ücretsiz olarak vereceğim bu kamp 2 ay boyunca sürecek.
            </li>

            <li>
                <span>➤Kamp programında neler olacak?  </span> <span class="text-red">  Detaylı kamp programına ulaşmak için bağlantıyı tıklayınız.</span> 
            </li>
            <li>
                <span>➤Canlı yayın sonrası videolar, ödevler ve testler olacak mı? Olacak ise bunlara nasıl ulaşabilirim? </span> Evet, canlı yayın sonrası videolar, ödevler ve testler olacak. Kodlama.io 'da Yazılım Geliştirici Yetiştirme Kampının içinde bulunan ders programınıza ekleyeceğiz.


            </li>
        </ul>

    </div>
</div>
