
<button routerLink="/dashboard/product" class="btn btn-primary mb-5">Back Down</button>

<form [formGroup]="productForm" (ngSubmit)="save()">
    
    <div class="mb-3">
        <label for="productName" class="form-label">Name</label>
        <input type="text" class="form-control" id="productName" placeholder="" formControlName="name">
    </div>

    <div class="mb-3">
        <label for="supplierId" class="form-label">Supplier ID</label>
        <input type="text" class="form-control" id="supplierId" placeholder="" formControlName="supplierId">
    </div>

    <div class="mb-3">
        <label for="categoryId" class="form-label">Category ID</label>
        <input type="text" class="form-control" id="categoryId" placeholder="" formControlName="categoryId">
    </div>


    <div class="mb-3">
        <label for="quantityPerUnit" class="form-label">Quantity Per Unit</label>
        <input type="text" class="form-control" id="quantityPerUnit" placeholder="" formControlName="quantityPerUnit">
    </div>

    <div class="mb-3">
        <label for="unitPrice" class="form-label">Unit Price</label>
        <input type="text" class="form-control" id="unitPrice" placeholder="" formControlName="unitPrice">
    </div>

    <div class="mb-3">
        <label for="unitsInStock" class="form-label">Unit In Stock</label>
        <input type="text" class="form-control" id="unitsInStock" placeholder="" formControlName="unitsInStock">
    </div>

    <div class="mb-3">
        <label for="unitsOnOrder" class="form-label">Units On Order</label>
        <input type="number" class="form-control" id="unitsOnOrder" placeholder="" formControlName="unitsOnOrder">
    </div>

    <div class="mb-3">
        <label for="reorderLevel" class="form-label">Reorder Level</label>
        <input type="text" class="form-control" id="reorderLevel" placeholder="" formControlName="reorderLevel">
    </div>

    <div class="mb-3">
        <label for="discontinued" class="form-label">Discounted</label>
        <input type="number" class="form-control" id="discontinued" placeholder="" formControlName="discontinued">
    </div>

    <div class="mb-3"><button  class="btn btn-dark">Save</button></div>
</form>