<div class="card-wrapper">
    <div class="card">
        <div class="card-img">
            <img src="{{course.courseImg}}" alt="">
        </div>
        <div class="card-text">
            <div class="card-detail">
                <h3>
                    {{course.courseHeader}}
                </h3>
                <p>{{course.courseDetail}}</p>
            </div>
            <div class="card-info">
                <div class="info-left">
                    <img src="{{course.instructorImg}}" alt="">
                    <p>{{course.instructorName}}</p>
                </div>
                <div class="info-right">
                    <p><strong>{{course.price}}</strong></p>
                </div>
            </div>
        </div>
        
    </div>
</div>

