<div class="wrapper">
    <div class="row">
        <div class="col-3">
            <img src="https://cdn.fs.teachablecdn.com/3PSEoJp4QJedTOclvuGC" alt="">
            <h2>İki ekranda takip etmeye çalışın</h2>
            <p>Bu ekranlardan birinde beni izlerken diğerinde kod yazıp, soru cevap platformumuzdan destek alabilirsiniz. Yardımcı ekran tablet, monitör veya evdeki HDMI destekli TV olabilir.</p>
        </div>
        <div class="col-3">
            <img src="https://cdn.fs.teachablecdn.com/8hPLLSogQRmhnbjzuv7p" alt="">
            <h2>İkinci ekran yoksa
            </h2>
            <p>Bu durumda bilgisayar ekranınızı ikiye bölebilirsiniz. Windows + Sol Yön tuşuyla mevcut ekranı sola, Windows + sağ yön tuşu ikilisiyle de mevcut diğer ekranı sağa atabilirsiniz. Öncesinde deneyiniz :)</p>
        </div>
        <div class="col-3">
            <img src="https://cdn.fs.teachablecdn.com/IVXtdNNTeIKcRSW4oPwA" alt="">
            <h2>Ne kurayım?
            </h2>
            <p>Eğitimin ilk günü için bir şey kurmanız gerekmiyor. Online editör kullanacağız. Repl.it sitesinden bir hesap açmanız yeterlidir. İkinci gün itibariyle Visual Studio kullanacağız. Sizin için bir kurulum videosu hazırladım.</p>
        </div>
    </div>
</div>